@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.nodeimg{
    width: 114px;
   }
.node{
     position:absolute;
     left: 46%;
     top: 92px;
   }
.nodetag{
     position: absolute;
     left: 12%;
     font-size: 25px;
     font-family: "Kanit", sans-serif;;
  
  font-style: normal;
   }
   .css{
    margin-top: 8px;
    position: relative;
    left: 7%;
    top: 123px;
    display: inline-block;
    
    
  }
  .cssimg{
    width: 114px;
  }
  .csstag{
    position: relative;
    left: 33%;
    font-size: 25px;
    font-family: "Kanit", sans-serif;;
  
  font-style: normal;
    
    
  }
  .text{
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    position: relative;
    bottom: -53px;

  font-family: "Kanit", sans-serif;;
  
  font-style: normal;
    
  
  }
  .code{
    /* styles.css */
    display: inline-block;
    /* Adjust padding as needed */
    
    color: white;
    text-align: center;
    transform: skew(-5deg);
     /* Skew the element to create a parallelogram effect */
     background-image: linear-gradient(to right, rgb(255 113 3), #f7a000a6);
    
  }
  .design{
    color: white;
    display: inline-block;
    
    transform: skew(-5deg); 
    background-image: linear-gradient(to right,rgb(99, 99, 204),rgb(150 150 209));
  }
  .subtext{
    text-align: center;
    font-size: large;
    
    font-size: 20px;
    position: relative;
    top: 95px;
    font-family: "Kanit", sans-serif;;
  
  font-style: normal;

  }
  .python{
    margin-top: 8px;
    position: relative;
    left: 82%;
    bottom: 435px;
    display: inline-block;
    
    
  }
  .pythonimg{
    width: 114px;
  }
  .pythontag{
    position: relative;
    left: 18%;
    font-size: 25px;
    font-family: "Kanit", sans-serif;;
  
  font-style: normal;
    
  }  
  .swiftimg{
    width: 114px;
   }
   .swift{
    margin-top: 8px;
    position: relative;
    left: 1%;
    bottom: 70px;
    display: inline-block;
    
    
  }
  .swifttag{
     position: relative;
     left: 26%;
     font-size: 25px;
     font-family: "Kanit", sans-serif;;
  
  font-style: normal;
   }
   .database{
    margin-top: 8px;
    position: relative;
    left: 62%;
    bottom: 77px;
    display: inline-block;
    
    
  }
  .databaseimg{
    width: 114px;
  }
  .databasetag{
    position: relative;
    left: 20%;
    font-size: 25px;
    font-family: "Kanit", sans-serif;;
  
  font-style: normal;
    
    
  }
  .button{
    text-align: center;
    position: relative;
    bottom: -2px;
    
  }
  .button1{
    color: white;
    background-color: orange;
    font-size: 20px;
    padding: 16px 43px;
    margin: 1%;
    border: 1px solid white;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(255 113 3), #f7a000a6);
  }
  .join{
    background-color: white;
    border: 2px solid rgb(97, 94, 94);
    color: orange;
    font-size: 20px;
    padding: 16px 43px;
    margin: 1%;
    border-radius: 10px;
  }

  @media only screen and (max-width:1100px){
    .nodeimg{
        width: 100px;
       }
       .cssimg{
        width: 100px;
      }
      .databaseimg{
        width: 100px;
      }
      .swiftimg{
        width: 100px;
       }
       .pythonimg{
        width: 100px;
      }
      .text{
        font-size: 65px;
      }
  }
  @media only screen and (max-width:970px){
    .nodeimg{
        width: 70px;
       }
       .cssimg{
        width: 70px;
      }
      .databaseimg{
        width: 70px;
      }
      .swiftimg{
        width: 70px;
       }
       .pythonimg{
        width: 70px;
        
      }
      .text{
        font-size: 45px;
      }
      .python{
        position: relative;
        top: -229px;
      }
  }
  @media only screen and (max-width:700px){
    .nodeimg{
        width: 50px;
        position: relative;
        top: 40px;
       }
       .cssimg{
        width: 50px;
        position: relative;
        bottom: -2px;
      }
      .databaseimg{
        width: 50px;position: relative;
        top: 311px;
        right: 61px;
      }

      .swiftimg{
        width: 50px;
        position: relative;
        top: 300px;
       }
       .pythonimg{
        width: 50px;
        position: relative;
        top: 0px;
        
      }
      .text{
        font-size: 40px;
        margin-top: 10px;
        position: relative;
        top: 160px;

      }
      /* .python{
        position: relative;
        top: -229px;
      } */
      .subtext{
       
        font-size: 15px;
        font-weight: 300;
        position: relative;
        top: 200px;
        

        
      }
      .button{
        display: none;
      }
      .nodetag{
        display: none;
      }
      .pythontag{
        display: none;
      }
      .databasetag{
        display: none;
      }
      .csstag{
        display: none;
      }
      .swifttag{
        display: none;
      }
      .outer-container{
        position: relative;
        top: 250px;

      }
  }
  @media only screen and (max-width:360px){
    .python{
        position: relative;
        bottom:0px;
    }
    .text{
        font-size: 35px;
    }
    .subtext{
        font-size: 10px;
    }
  }